<div class="main-container">
  <div class="row min-height-500 no-flex-wrap">
    <div class="card col-md-1 mr-2">
      <div class="col pl-0 pr-0">
        <div class="card mt-3 mb-2 border-none">
          <h5>Resources</h5>
        </div>
        <div>
          <app-header 
            (clickEvent)="nouvelleresource()"
          >
          </app-header>
        </div>
      </div>
    </div>
    <div class="card col-md-11">
      <div class="col pl-0 pr-0 d-flex flex-column justify-content-between">
        <div class="min-height-80 mb-2 mt-3">
          <app-resources-detail></app-resources-detail>
        </div>
        <br>
        <br>
        <div class="card mb-2" style="min-height: 480px;">
          <app-selecte-detail></app-selecte-detail>
        </div>
      </div>
    </div>
  </div>
</div>